/* ===================================
   BASE STYLES
   =================================== */
body {
    margin: 0;
    padding: 0;
    background-color: #2ef3e3;
    /* Background image location: images/background.png */
    background-image: url('../images/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* ===================================
   LOGO STYLES
   Logo image location: images/icon.png
   =================================== */
#logo {
    width: 10%;
    height: auto;
    position: relative;
    left: 0;
    border-radius: 50%;
}


/* ===================================
   BUTTON STYLES
   =================================== */
.btn {
    float: right;
    margin: 0.6em 0.3em 0.3em 0;
    padding: 0.3em 1.2em;
    background: none;
    border: none;
    cursor: pointer;

    /* Typography */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.3vw;
    color: #0105ff;
}

.btn:hover,
#welcome:hover {
    color: #cb733c;
}


/* ===================================
   WELCOME TEXT STYLES
   =================================== */
#welcome {
    display: block;
    margin-bottom: auto;
    text-align: center;
    text-decoration: none;

    /* Typography */
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    color: #FFFFFF;
}


/* ===================================
   RESPONSIVE DESIGN - MOBILE
   =================================== */
@media only screen and (max-width: 767px) {
    body {
        /* Mobile background image location: images/backgroundmobile.png */
        background-image: url('../images/BackgroundMobile.png');
    }
}
